.dashboard {
  padding-top: 63px;
  padding-bottom: 63px;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  &__toggle {
    position: relative;
    width: 100px;
    height: 38.608px;
    border-radius: 40px;
    background: #d9d9d9;
  }
  &__toggle-indicator {
    position: absolute;
    top: 5px;
    left: 59px;
    bottom: 0;
    right: 0;
    transition: 0.5s;
  }
  &__toggle-indicator.active {
    left: 9px;
    transition: 0.5s;
  }
  &__mode-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 72px;
  }
  &__toggle-title {
    font-weight: 800;
    font-size: 18px;
  }
  &__toggle-title.light {
    color: black;
  }
  &__input {
    width: 621px;
    height: 28px;
    background: #444;
    outline: none;
    color: rgba(255, 255, 255, 0.6);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
  }
  &__input.light {
    background: #d9d9d9;
  }
  &__search-wrapper {
    display: flex;
    align-items: center;
    width: 803px;
    height: 62px;
    border-radius: 40px;
    background: #444;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
  }
  &__search-wrapper.light {
    background: #d9d9d9;
  }

  &__search {
    margin-right: 81px;
  }
  &__search-icon {
    margin-right: 29px;
    margin-left: 33px;
  }
  &__location-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 292px;
    height: 62px;
    border-radius: 40px;
    background: #4cbb17;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
  }
  &__location-title {
    color: rgba(255, 255, 255, 0.8);

    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 800;
  }
  &__location-icon {
    margin-right: 4px;
  }
  &__info {
    margin-right: 55px;
    width: 510px;
    height: 330px;
    border-radius: 30px;
    background: #444;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5));
  }
  &__info.light {
    background: #d9d9d9;
  }
  &__info-wrapper {
    padding-top: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__info-city {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
  }
  &__info-time {
    font-family: "Poppins", sans-serif;
    font-size: 96px;
  }
  &__info-date {
    font-weight: 400;
    font-size: 20px;
  }
  &__main {
    padding-bottom: 49px;
  }
  &__main-wrapper {
    display: flex;
  }
  &__weather {
    background: #444;
    border-radius: 30px;
    display: flex;
    padding-left: 24px;
    align-items: center;
    padding-bottom: 27px;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.5);
  }
  &__weather.light {
    background: #d9d9d9;
  }
  &__temp {
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(
      84deg,
      #fff -16.56%,
      rgba(255, 255, 255, 0) 118.43%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__feels {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
    font-size: 20px;
  }
  &__feels-wrapper {
    column-gap: 8px;
    display: flex;
    align-items: center;
  }
  &__feels-temp {
    font-weight: 700;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.8);
  }
  &__sunrise-wrapper {
    display: flex;
    margin-bottom: 19px;
  }
  &__sunrise-icon {
    margin-right: 10px;
  }
  &__sunset-wrapper {
    display: flex;
  }
  &__sunset-icon {
    margin-right: 10px;
  }
  &__type-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__type-weather-icon {
    width: 250px;
  }
  &__type-weather-name {
    font-size: 32px;
    font-weight: 600;
  }
  &__extra-details {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    max-width: 247px;
    gap: 13px 17px;
  }
  &__detail {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__detail-icon {
    margin-bottom: 8px;
  }
  &__forecast-wrapper {
    display: flex;
  }
  &__forecast-5days {
    padding-left: 30px;
    padding-right: 14px;
    padding-top: 18px;
    border-radius: 30px;
    background: #444;
    margin-right: 61px;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5));
  }
  &__forecast-5days.light {
    background: #d9d9d9;
  }
  &__forecast-5days-wrapper {
    display: flex;
    flex-direction: column;
  }
  &__forecast-5days-title {
    font-size: 32px;
    text-align: center;
    font-weight: 700;
  }
  &__forecast-5days-layout {
    column-gap: 43px;
    display: flex;
    align-items: center;
  }
  &__forecast-5days-temp {
    font-size: 24px;
    font-weight: 600;
  }
  &__forecast-5days-date {
    font-size: 20px;
    font-weight: 600;
  }
  &__forecast-5days-icon {
    width: 60px;
    height: 60px;
  }
  &__forecast-hourly {
    padding: 13px 80px 16px 80px;
    border-radius: 30px;
    background: #444;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.5);
  }
  &__forecast-hourly.light {
    background: #d9d9d9;
  }
  &__forecast-hourly-title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 19px;
  }
  &__forecast-hourly-wrapper {
    display: flex;
    column-gap: 15px;
  }
  &__forecast-hourly-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px 31px 18px 29px;
    border-radius: 40px;
    background: #373636;
  }
  &__forecast-hourly-layout.evening {
    background: linear-gradient(
      174deg,
      #443d64 -15.92%,
      rgba(101, 130, 198, 0) 192.45%
    );
  }
  &__forecast-hourly-layout.light {
    background: linear-gradient(
      171deg,
      #f88508 -12.41%,
      rgba(246, 250, 217, 0) 163.32%
    );
  }
  &__forecast-hourly-wind-icon {
    width: 55px;
    height: 55px;
    transform: rotate(119deg);
  }
}
